:root {
    --primary-clr: #6f150d;
    --secondary-clr: #e88921;
    --accent-clr: #945e0d;
    --background-clr: #101a3d;
    --text-clr1: #333;
    --text-clr2: #ffffff;
    --font-main: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-main);
    color: var(--text-clr2);
    background-color: var(--background-clr);
}

main {
    grid-area: mn;
    background-color: var(--secondary-clr);
}

section {
    background-color: var(--primary-clr);
    margin: 1rem;
}
article {
    background-color: var(--accent-clr);
    margin: 1rem;
}

#mobilenav.show {
    left: 0;
}

.socialIcon {
    height: 18px;;
}

.fade-layer.visible {
    display: block;
}

footer {
    grid-area: ft;
    display: flex;
    justify-content: space-evenly;
}

.menu-btn img {
  width: 100%;
  height: 100%;
}

iframe {
    width: 50%;
    height: 450px;
}

/* Temporary */

/* mobil */
@media screen and (max-width: 1000px) {
    /* Header */
    header {
        grid-area: tp;
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-areas:
        "mb hd lg";
        grid-template-columns: 15vw 1fr 15vw;
  }
    h1 {
        grid-area: hd;
        justify-content: center;
  }
    #logo {
        grid-area: lg;

        width: 15vw;
        height: 15vw;
}
    #desktopnav  {
        display: none;
    }
    #mobilenav {
        height: 100vh;
        width: 80vw;
        background: var(--background-clr);
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
    }
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }
    .menu-btn {
        grid-area: mb;
        width: 10vw;
        height: 10vw;
    }
    .menu-btn i {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10vw;
    }
    
    #kebabpizza {
        grid-area: kp;
    }
    #inbakadpizza {
        grid-area: ip;
    }
    #kebaber {
        grid-area: kb;
    }
    #sallader {
        grid-area: sd;
    }
    #meny{
        display: grid;
        grid-template-areas:
        "kp"
        "ip"
        "kb"
        "sd";
    }
    .menu-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
        margin: 1rem;
        width: 35%;
    }
    #menu-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Wrappers */
    #wrapperi {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "tp"
        "mn"
        "ft";
        grid-template-rows: 10vh 1fr 5vh;
}
    #wrapperm {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "tp"
        "mn"
        "ft";
        grid-template-rows: 10vh 1fr 5vh;
}
    #wrappera {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "tp"
        "mn"
        "ft";
        grid-template-rows: 10vh 1fr 5vh;
}
    #wrapperc {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "tp"
        "mn"
        "ft";
}

}

/* desktop */
@media screen and (min-width: 1000px) {
    /* Header */
    header {
        grid-area: tp;
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-areas:
        "lg hd"
        "lg nv";
        grid-template-columns: 10vh 1fr;
        grid-template-rows: 5vh 5vh;
  }
    h1 {
        grid-area: hd;
        display: flex;
        justify-content: center;
  }
    #logo {
        grid-area: lg;

        width: 10vh;
        height: 10vh;
}
    #desktopnav  {
        grid-area: nv;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mobilenav {
        display: none;
    }
    .fade-layer{
        display: none;
    }
    .menu-btn {
        display: none;
    }

    #maini {
        background-image: url('../img/backgrounds/background1.jpg');
        background-size: cover;
        background-position: center;
    }

    #meny{
        display: flex;
    }
    .menu-item {
        /* background-color:lightcoral; */
    }
    /* Index */
    /* Menu */
    /* About */
    #main-about {
        display: grid;
        grid-template-areas:
        "hi ne";
        grid-template-columns: 2fr 1fr;
    }
    #history {
        grid-area: hi;
    }
    #news {
        grid-area: ne;
    }


    /* Contact */
    #main-contact {
        display: grid;
        grid-template-areas:
        "op op lo"
        "co so lo";
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1.5fr 1fr;
    }
    #location {
        grid-area: lo;
    }
    #open {
        grid-area: op;
    }
    #contacts {
        grid-area: co;
    }
    #social {
        grid-area: so;
    }
    #main-contact section {
        margin: 1rem;
        padding: 1rem;
    }

    /* Wrappers */
    #wrapperi {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "tp"
        "mn"
        "ft";
        grid-template-rows: 10vh 1fr 2vh;
}
    #wrapperm {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "tp"
        "mn"
        "ft";
        grid-template-rows: 10vh 1fr 2vh;
}
    #wrappera {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "tp"
        "mn"
        "ft";
        grid-template-rows: 10vh 1fr 2vh;
}
    #wrapperc {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "tp"
        "mn"
        "ft";
        grid-template-rows: 10vh 1fr 2vh;
}

}