:root {
    --primary-clr: #6f150d;
    --secondary-clr: #fb8e25;
    --accent-clr1: rgba(41, 41, 41, 0.75);
    --accent-clr2: rgba(8, 120, 19, 1);
    --accent-clr3: rgb(68, 59, 59, 0.5);
    --background-clr: #101a3d;

    --text-clr1: #ffffff;
    --text-clr2: #333333;
    --font-main: 'Roboto', sans-serif;

    --margin1: 1rem;
    --padding1: 1rem;
    --border-radius1: 0.5rem;
    --border1: 0.25rem;
}

.linktext {
    text-decoration: none;
    color: var(--text-clr1);
}

body {
    font-family: var(--font-main);
    color: var(--text-clr1);
    background-color: var(--background-clr);
}

main {
    grid-area: mn;
}

#mobilenav.show {
    left: 0;
}

.socialIcon {
    height: 1.2rem;
}

.fade-layer.visible {
    display: block;
}

footer {
    grid-area: ft;
    display: flex;
    justify-content: space-evenly;
}

/* Index */
#main-index {
    gap: 2rem;
}
#call-button {
    background-color: var(--accent-clr2);
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 5rem;
    border: var(--border1) solid var(--secondary-clr);
}
#menu-button {
    background-color: var(--accent-clr1);
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 5rem;
    border: var(--border1) solid var(--secondary-clr);
}
/* Menu */
#kebabpizza {
    grid-area: kp;
}
#inbakadpizza {
    grid-area: ip;
}
#kebaber {
    grid-area: kb;
}
#sallader {
    grid-area: sd;
}
.menu-img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}
/* About */
#history {
    grid-area: hi;
    background-image: url('../img/backgrounds/background3.jpg');
    background-size: cover;
    background-position: center;
}
#history article {
    background-color: var(--accent-clr1);
    padding: 1rem;
    margin: 5rem;
    border-radius: 2rem;
}
#news {
    grid-area: ne;
}
#news article {
    background-color: var(--accent-clr3);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
/* Contact */
#location {
    grid-area: lo;
}
#open {
    grid-area: op;
}
#contacts {
    grid-area: co;
}
#social {
    grid-area: so;
}

/* mobil */
@media screen and (max-width: 1000px) {
    /* Header */
    header {
        grid-area: tp;
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-areas:
        "mb hd lg";
        grid-template-columns: 15vw 1fr 15vw;
  }
    h1 {
        grid-area: hd;
        justify-content: center;
  }
    #logo {
        grid-area: lg;
        height: 15vw;
}
    #desktopnav  {
        display: none;
    }
    #mobilenav {
        height: 100vh;
        width: 80vw;
        background: var(--background-clr);
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        display: flex;
        flex-direction: column;
    }
    #mobilenav a {
        font-size: 1.25rem;
        gap: 1rem;
        margin: 1rem;
    }
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }
    .menu-btn {
        grid-area: mb;
        width: 10vw;
        height: 10vw;
    }
    .menu-btn i {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10vw;
    }
    /* Index */
    #main-index {
        background-image: url('../img/backgrounds/background2.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #main-index div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: var(--accent-clr3);
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        text-align: center;
    }
    /* Menu */
    #main-menu{
        display: grid;
        grid-template-areas:
        "kp"
        "ip"
        "kb"
        "sd";

        gap: 1rem;
    }
    #main-menu section {
        background-color: var(--primary-clr);
    }
    .menu-item {
        padding: 1rem;
        border: #fb8e25 solid 0.25rem;
        border-radius: 0.5rem;
    }
    .menu-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 0.25rem;
        margin: 1rem;
    }
    .menu-section{
        border-radius: 1rem;
    }
    .menu-section h2 {
        text-align: center;
    }
    /* About */
    #history {
        padding: 0.5rem 0;
        border-radius: 0.5rem;
    }
    #history article {
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 2rem;
    }
    /* Contact */
    #main-contact {
        display: grid;
        grid-template-areas:
        "op op"
        "lo lo"
        "co so";
        grid-template-rows: 1.5fr 1fr 1fr;

        gap: 0.25rem;
    }
    section {
        background-color: var(--primary-clr);
        margin: 0.5rem;
        padding: 1rem;
        border-radius: var(--border-radius1);
    }
    #location {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    iframe {
        width: 100%;
        height: 90%;
    }
    #open {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #social {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    
    /* Wrappers */
    footer {
        display: none;
    }
    .wrappers {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "tp"
        "mn";
        grid-template-rows: 10vh 1fr;  
    }
}

/* desktop */
@media screen and (min-width: 1000px) {
    /* Header */
    header {
        grid-area: tp;
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-areas:
        "lg hd"
        "lg nv";
        grid-template-columns: 10vh 1fr;
        grid-template-rows: 1fr 1fr;
  }
    h1 {
        grid-area: hd;
        display: flex;
        justify-content: center;
        align-items: center;
  }
    #logo {
        grid-area: lg;

        width: 10vh;
        height: 10vh;
}
    #desktopnav  {
        grid-area: nv;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        
    }
    #desktopnav a {
        background-color: var(--primary-clr);
        padding: 0.5rem;
        border-radius: var(--border-radius1);
        border: var(--border1) solid var(--secondary-clr);
    }

    #mobilenav {
        display: none;
    }
    .fade-layer{
        display: none;
    }
    .menu-btn {
        display: none;
    }

    
    /* Index */
    #main-index {
        background-image: url('../img/backgrounds/background1.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #main-index div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: var(--accent-clr3);
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
    }
    /* Menu */
    #main-menu {
        display: grid;
        grid-template-areas:
        "kp ip"
        "kb sd";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .menu-item {
        width: 21vw;
        padding: 1rem;
        border: #fb8e25 solid 0.25rem;
        border-radius: 0.5rem;
    }
    .menu-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 0.25rem;
    }
    .menu-section h2 {
        text-align: center;
    }
    /* About */
    #main-about {
        display: grid;
        grid-template-areas:
        "hi ne";
        grid-template-columns: 2fr 1fr;
    }
    #history article {
        padding: 1rem;
        margin: 5rem;
        border-radius: 2rem;
    }
    /* Contact */
    #main-contact {
        display: grid;
        grid-template-areas:
        "op op lo"
        "co so lo";
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1.5fr 1fr;
    }
    section {
        background-color: var(--primary-clr);
        margin: 0.5rem;
        padding: 1rem;
        border-radius: var(--border-radius1);
    }
    #location {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    iframe {
        width: 100%;
        height: 75%;
    }
    #open {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #social {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    /* Wrappers */
    .wrappers {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "tp"
        "mn"
        "ft";
        grid-template-rows: 15vh 1fr 2vh;  
    }
}